
.shopping_cart{
    width: 50%;
    border: 1px solid;
}

.checkout_div{
    width: 45%;
    border: 1px solid;
    height: 20rem;
}

.cart_main_div{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}

.cart_products_div{
    border: 1px solid black;
    position: relative;
    overflow: scroll;
    height: 45rem;
    bottom: 1rem;
    margin-top: 15px;
}

.cart_quantity{
    display: flex;
    /* background: */
}

.cart_item_details{
    margin: 1rem 2rem;
    border-bottom: 1px solid #ccc
}

.book_image_div{
    width: 6rem;
    height: 9rem;
    margin-top: 2rem;
}
.product_title{
    font-family: Poynter,Georgia,serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.25;
    color: #21282d;
}
.product_author{
    font-family: Poynter,Georgia,serif;
    /* font-weight: 600; */
    font-style: normal;

    line-height: 1.25;
    color: #21282d;
}