$font-primary: 'Amiko', sans-serif;
$font-secondary: 'Adamina', serif;

// Colors
$bg-color: #E8E2D7;

$text-primary: #292B83;
$text-grey: rgb(67, 67, 67);
$text-teal: #609ea0;
$text-black: black;

$color-accent: #EF4E42;

// Media query sizes
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

$container_height: 300px;